<div class="row">
  <table id="players">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Illness</th>
    </thead>
  <% for(i = 0; i < game.partyMembers.length; i++){%>
      <tr>
        <td> <%= game.partyMembers[i].name%> </td>
        <td> <%= game.partyMembers[i].status%> </td>
        <td> <%= game.partyMembers[i].disease%> </td>
      </tr>
    <%}%>
  </table>
  <table id="supplies">
    <thead>
      <th>Supply</th>
      <th>Quantity</th>
    </thead>
    <tr>
      <td>oxen</td>
      <td><%= game.supplies[4].quantity %></td>
    </tr>
    <tr>
      <td>Sets of Clothing</td>
      <td><%= game.supplies[3].quantity %></td>
    </tr>
    <tr>
      <td>Bullets</td>
      <td><%= game.supplies[6].quantity %></td>
    </tr>
    <tr>
      <td>Wagon Wheels</td>
      <td><%= game.supplies[0].quantity %></td>
    </tr>
    <tr>
      <td>Wagon Axels</td>
      <td><%= game.supplies[1].quantity %></td>
    </tr>
    <tr>
      <td>Wagon Tongues</td>
      <td><%= game.supplies[2].quantity %></td>
    </tr>
    <tr>
      <td>Pounds of Food</td>
      <td><%= game.supplies[5].quantity %></td>
    </tr>
  </table><br>
  <h4 id="days">Days on the trail: <%=game.daysSpent%> </h4>
</div>
