<div class="row">
  <table id="players">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Illness</th>
    </thead>
    {{#each travelers}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.status}}</td>
        <td>{{this.disease}}</td>
      </tr>
    {{/each}}
  </table>
  <table id="supplies">
    <thead>
      <th>Supply</th>
      <th>Quantity</th>
    </thead>
    <tr>
      <td>Oxen</td>
      <td>{{game.oxen}}</td>
    </tr>
    <tr>
      <td>Sets of Clothes</td>
      <td>{{game.clothes}}</td>
    </tr>
    <tr>
      <td>Bullets</td>
      <td>{{game.bullets}}</td>
    </tr>
    <tr>
      <td>Wagon Wheels</td>
      <td>{{game.wheels}}</td>
    </tr>
    <tr>
      <td>Wagon Axels</td>
      <td>{{game.axles}}</td>
    </tr>
    <tr>
      <td>Wagon Tongues</td>
      <td>{{game.tongues}}</td>
    </tr>
    <tr>
      <td>Pounds of Food</td>
      <td>{{game.food}}</td>
    </tr>
  </table><br>
  <h4 id="days">Days on the trail: {{game.days}}</h4>
</div>
